body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: white !important;
  text-decoration: none !important;
}

.NavBg{
  margin-top: 100px;
  background-color: black;
}

.Nav-Menu--SearchIcon{
  color: white !important;
}

/* ===============> nav menu design end <================*/

.slider img{
  height: 90vh;
}

/* ===============> slider design end <================*/

.tab_bg{
  background-color: black;
  height: auto;
  overflow: hidden;
  padding-bottom: 20px;
}

.BlogModal{
  cursor: pointer;
}

.img_height{
  height: 400px;
}

.img_height2{
  height: 250px;
}

.img_height1{
  height: 250px;
}

.showImg{
  padding-top: 10px;
  width: 400px;
  margin: auto;
  margin-bottom: 50px;
}

.contact_button{
  margin-right: 5px;
 
}

.Count_contact-button{
  text-align: center;
}

.Count_contact-button button{
  font-size: 20px;
  font-weight: 600;
}

.from_main--section{
  margin: auto;
}

.delete_Button--Align{
  display: flex;
  justify-content: space-between;
}


.Search_section{
  display: flex;
  justify-content: space-between;
}

select{
  width: 20% !important;
  margin-bottom: 10px !important;
  box-shadow: none !important;
  border-color: brown !important;
}

.bg_img{
  background-image: url(../public/image/res2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


.Total_blog{
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  line-height: 40px;
  padding: 10px 50px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.home_search{
  width: 250px;
}
/* ===============> footer design start <================*/

.footerBG{
  background-color: black;
  padding: 90px 0px;
  color: white;
}

.footerBG ul{
  margin: 0;
  padding: 0;
}

.footerBG ul li{
  list-style-type: none;
}

/* ===============> footer design end <================*/