body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: white !important;
  text-decoration: none !important;
}

.NavBg{
  margin-top: 100px;
  background-color: black;
}

.Nav-Menu--SearchIcon{
  color: white !important;
}

/* ===============> nav menu design end <================*/

.slider img{
  height: 70vh;
}

/* ===============> slider design end <================*/

.tab_bg{
  background-color: black;
  width: 300px;
  height: 100vh;
}

.BlogModal{
  cursor: pointer;
}

.img_height{
  height: 400px;
}

.img_height2{
  height: 250px;
}

.img_height1{
  height: 250px;
}

.showImg{
  padding-top: 10px;
  width: 400px;
  margin: auto;
  margin-bottom: 50px;
}

.contact_button{
  margin-right: 5px;
}

/* ===============> footer design start <================*/

.footerBG{
  background-color: black;
  padding: 90px 0px;
  color: white;
}

.footerBG ul{
  margin: 0;
  padding: 0;
}

.footerBG ul li{
  list-style-type: none;
}

/* ===============> footer design end <================*/